a#title
{
    text-align: center;
    font-size: 30pt;
}

a#title:hover
{
    text-decoration: none;
    font-weight: bold;
}

footer
{
    text-align: center;
    vertical-align: bottom;
}

.important
{
    font-weight: bold;
    font-size: 16pt;
}

.header
{
    text-align: center;
}

#aid-kit
{
    padding: 2.75em 15px;
    width: 500px;
    height: 205px;
    background-image: url("../media/images/Kit.png");
    background-size: 500px 205px;
    background-repeat: no-repeat;
}

#aid-kit:hover
{
    padding: 2.25em 15px;
    background-image: url("../media/images/Kit_Clicked.png");
}

#aid-kit > img
{
    width: 100%;
    height: 100%;
}

.fill
{
    height: 100%;
    width: 100%;
}

.nav-link
{
    width: 100%;
    height: 300px;
    font-size: 26pt;
    text-align: center;
    padding: 3.5em;

}

.nav-link-end
{
    margin-top: 30px;
    margin-bottom: 30px;
    width: inherit;
    height: 50px;
    font-size: 26pt;
    text-align: center;
}

div.nav-section
{
    width: inherit;
}
