/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 8, 2015, 2:34:22 PM
    Author     : johnson
*/
.header
{
    text-align: center;
}

.innerheader
{
	color: blue;
	margin-left: 0;
}

.center_header
{
	color: blue;
}

.icon_insert
{
	height:25px;
	width:25px;
	
}

.button_padding7
{
	padding-left:0.7em;
}

.button_padding4
{
	padding-left:0.4em;
}

.button_padding5
{
	padding-left:0.5em;
}

/*ul.checkboxcustom
{
	list-style-image: url('../media/images/uncheckedbox.png');
}*/

div#content
{
    font-size: 12pt;
}

#aid-kit
{
    padding: 2.75em 15px;
    color: greenyellow;
    font-size: 16pt;
    width: 250px;
    height: 150px;
    background-image: url("../media/images/first-aid-box.jpg");
    background-size: 250px 150px;
    background-repeat: no-repeat;
}

#aid-kit:hover
{
    padding: 2.25em 15px;
    font-weight: bold;
    font-size: 18pt;
}

#aid-kit > img
{
    width: 100%;
    height: 100%;
}

div#left-col
{
    margin-left: 0;
    padding-left: 0;
}

.navbar-fixed-side
{
    height: 100%;
    width: 100%;
}

ul > li > a.nav-link
{
    width: 100%;
    padding: 2em 15px;
    font-size: 20pt;
    text-align: center;
}

.fill
{
    height: 100%;
    width: 100%;
}

a#title
{
    text-align: center;
    font-size: 30pt;

}

a#title:hover
{
    text-decoration: none;
}

h2
{
    text-align: left;
    margin-left: 10%;
}

.nav-header
{
    text-align: center;
    font-size: large;
}

.list-group
{
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 20px;
}

.glyphicon
{
    font-size: 20px;
}

footer
{
    text-align: center;
    vertical-align: bottom;
}

.important
{
    font-weight: bold;
    font-size: 16pt;
}

.edu-list button span
{
    margin-right: 20px;
	color:black;
}

.edu-list button
{
	color:black;
}

p.correct
{
    color: green;
}

p.incorrect
{
    color: red;
}

p.question
{
    font-weight: bold;
}
